*{
  font-family: "Montserrat", sans-serif;
  color: #fffbfb;
  
  
}

body{
  background-color: #000000;
  max-width: 100rem;
}

.container {
  display: flex;
  flex-direction: column;
  /*overflow: hidden;*/
  padding: 10px 10%;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fffbfb;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.logo span {
  color: #e7a991;
  font-size: 22px;
  
}

nav i {
  position: relative;
  top: 15px;
  right: 10px;
  font-size: 22px;
}

nav {
  z-index: 1000;
  position: sticky;
  left: 0;
  right: 0;
  top: 20px;
  display: flex;
  border-radius: 40px;
  backdrop-filter: blur(14px);
  padding: 0 40px;
  
  
  
  

}



nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 30px;
  
  
}

nav ul li a {
  text-decoration: none;
  color: rgb(159, 162, 165);
  font-size: 18px;
  
  transition: 0.3s;
  font-weight: 500;
  font-size: 16px;
  
}

nav ul li a:hover {
  color: #fffbfb;
  
  
  
}



.navbar a.active{
  color: #fffbfb;
  
  
}



.cursor{
  animation: blinker 1s linear infinite;
  
  
}


@keyframes blinker{
  50% {
    opacity: 0;
  }


}

.content-home{
  display: flex;
  margin-top: 3%;
  font-size: 30px;
  align-items: center;
  gap: 70px;
  
}

.text{
  width: 50%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
 
}

.text h1{
  margin-bottom: -10px;
}

.social-links i{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  color: #000000;
  font-size: 24px;
  transition: .6s;

  
}


.social-links i:hover{
  transform: translate(0, -10px);
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
}


.social-links {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: start; 
  margin-top: 50px;
  
}

.typing-text-heading{
  font-size: 26px;

  
}

.descibtion{
  font-size: 16px;
  margin-bottom: 0;
 
  
}

.cv-btn button{
  padding: 10px 25px;
  background-color: #000000;
  border: 2px solid #fffbfb;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  
  
  
}

.cv-btn button::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 20px;
  right: -2px;
  top: -2px;
  z-index: -1;
  background-image: conic-gradient( from 140deg, #4766f4, #ffafd7, #4766f4);
  opacity: 0;
  transition: opacity 1s ease;
}

.cv-btn button:hover::after{
  opacity: 1;
}

.cv-btn button:hover{
  display: block;
  z-index: 1;
 
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.2);
  
  
 /* filter: drop-shadow(0 0 5px #fffdef);
  background-color: #fffdef;
  /*background-image: linear-gradient(#ffc6a5,  #a5eaff, #ffc6a5);
  color: #000000;*/

}

.cv-btn{
  margin-top: 30px;
}


@property --angle{
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.my-pic img{
  width: 150%;
  height: 150%;
  border-radius: 50%;
  display: block;
  object-fit: cover;
  
  
  
  

}



.my-pic{
  position: relative;
  width: 200px; 
  height: 200px;
  margin: auto;
  border-radius: 50%;
  
  

}





.my-pic::after, .my-pic::before{
  content: '';
  position: absolute;
  width: calc(150% + 10px);
  height: calc(150% + 10px);
  background-image: conic-gradient( #4766f4, #79c3ff, #ffafd7, #4766f4);
  border-radius: 50%;
  left: -5px;
  top: -5px;
  z-index: -1;
  animation: spin 6s linear infinite;
  

  
  
  
  

}

.my-pic::before{
  filter: blur(1rem);
  
  
  
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
