*{
  font-family: "Montserrat", sans-serif;
  color: #fffbfb;
  
  
}

body{
  background-color: #000000;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 10%;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  color: #fffbfb;
  margin-right: auto;
}

.logo span {
  color: #e7a991;
  font-size: 22px;
  
}

nav {
  display: flex;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  
  
}

nav ul li a {
  text-decoration: none;
  color: rgb(159, 162, 165);
  font-size: 18px;
  
  transition: 0.3s;
  font-weight: 500;
}

nav ul li a:hover {
  color: #fffbfb;
  
  
  
  
}


.navbar a.active{
  color: #fffbfb;
  
}

.cursor{
  animation: blinker 1s linear infinite;
  
  
}


@keyframes blinker{
  50% {
    opacity: 0;
  }


}

.content-home{
  display: flex;
  margin-top: 5%;
  font-size: 30px;
}

.text{
  width: 55%;
}

.social-links img{
  width: 24px;
  height: 24px;
 
  border-radius: 50%;
  background-color: #000000;
  border: 1px solid #fffbfb;
  padding: 5px 5px;
  
}

.social-links{
  gap: 15px;
  display: flex;
  margin-top: 10%;
}

.typing-text-heading{
  font-size: 26px;
  
  
}

.descibtion{
  font-size: 20px;
 
  
}

.my-pic img{
  width: 360px;
  height: 360px;
  border-radius: 50%;
  object-fit: cover;
  
}